/* Estilo para o corpo do documento */
.relatorios-container{
  
}

/* Estilo para o contêiner principal do formulário */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Ajustado para uma largura máxima mais razoável */
  background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para os campos de entrada */
.input-field {
  margin-bottom: 15px; /* Maior espaço entre os campos */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Borda clara para maior contraste */
  border-radius: 5px;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estilo para as labels */
.label {
  color: #faf8f8;
  margin-bottom: 5px;
}

/* Estilo para os checkboxes */
.checkbox {
  margin-right: 5px;
  align-self: flex-start; /* Alinhar os checkboxes ao topo */
}

/* Estilo para o botão de enviar */
.submit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5dade2;
  border: none;
  border-radius: 5px;
  color: #f8f4f4;
  cursor: pointer;
}

/* Estilo para o hover do botão de enviar */
.submit-button:hover {
  background-color: #2e86c1; /* Cor do botão ao passar o mouse */
}

/* Estilo para a tabela */
.table {
  width: 100%; /* Largura total */
  border-collapse: collapse; /* Colapsar as bordas da tabela */
}

/* Estilo para células do cabeçalho */
.table th {
  padding: 10px; /* Adicionar preenchimento interno */
  border: 1px solid #fffdfd; /* Cor da borda branca */
  text-align: left; /* Alinhar o texto à esquerda */
  font-weight: bold; /* Tornar o texto em negrito */
  color: #f8f4f4;
}

/* Estilo para células de dados */
.table td {
  padding: 10px; /* Adicionar preenchimento interno */
  border: 1px solid #fbf8f8; /* Cor da borda branca */
  text-align: left; /* Alinhar o texto à esquerda */
  width: auto; /* Largura automática */
  color: #fcf9f9;
}

/* Estilo para o texto do título */
.text-titulo {
  color: #050505;
  text-align: center;
  margin-bottom: 20px; /* Adicionar espaço abaixo do título */
}
