/* App.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.left-align {
  text-align: left;
  margin-left: 20px; /* Ajuste a margem esquerda conforme necessário */
}
